h1 {
  font-size: x-large;
}

.SiteWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.GreenText {
  border: 2px solid black;
  padding: 6px;
  color: green;
  cursor: pointer;
  user-select: none;
}
